KERNEL_ARCH_CFLAGS =
KERNEL_ARCH_CPPFLAGS =
KERNEL_ARCH_LDFLAGS =
KERNEL_ARCH_LIBS =

KERNEL_ARCH_OBJS = 				\
	$(ARCHDIR)/boot.o 			\
	$(ARCHDIR)/halt.o		 	\
	$(ARCHDIR)/ssp.o 			\
	$(ARCHDIR)/panic.o 			\
	$(ARCHDIR)/multiboot.o 		\
	$(ARCHDIR)/gdt.o 			\
	$(ARCHDIR)/gdt_flush.o 		\
	$(ARCHDIR)/user_mode.o 		\
	$(ARCHDIR)/user_elf_blob.o  \
	$(ARCHDIR)/idt.o 			\
	$(ARCHDIR)/isr_stubs.o 		\
	$(ARCHDIR)/isr_common.o 	\
	$(ARCHDIR)/isr_table.o 		\
	$(ARCHDIR)/interrupts.o 	\
	$(ARCHDIR)/syscall.o 		\
	$(ARCHDIR)/context_switch.o \
	$(ARCHDIR)/ap_bootstrap.o 	\
	$(ARCHDIR)/pic.o 			\
	$(ARCHDIR)/pit.o 			\
	$(ARCHDIR)/tty.o 
